@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes openNav {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 400px;
  }
}

.account::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 100px;
  height: 20px;
}

/* calendar */

.calendar::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  border-width: 10px 16px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  width: 10px;
  height: 10px;
}

.calendar {
  animation: hide 0.5s linear;
}

/* navAdmin */

.openNav {
  animation: openNav 0.1s linear;
}
