/* acsessorymenu */

.menuAccessory {
  display: none;
  animation: wigglee 0.1s linear;
}

.phukien:hover .menuAccessory {
  display: flex;
}

.phukien::before {
  content: "";
  position: absolute;
  left: 425px;
  top: 160px;
  width: 104px;
  height: 60px;
}

/* menuRope */

.menuRope {
  display: none;
  animation: wigglee 0.1s linear;
}

.daydh:hover .menuRope {
  display: flex;
}

.daydh::before {
  content: "";
  position: absolute;
  left: 425px;
  top: 245px;
  width: 104px;
  height: 60px;
}

/* header */

.menuMen {
  display: none;
  animation: wiggle 0.4s linear;
}

@keyframes wiggle {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 352px;
    opacity: 1;
  }
}

@keyframes wigglee {
  from {
    transform: translateX(80px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes boxshadows {
  from {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px;
  }
  to {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
  }
}

@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideQty {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

.nam:hover .menuMen {
  display: flex;
}

.nam::before {
  content: "";
  width: 80px;
  position: absolute;
  top: 40px;
  left: 90px;
  height: 50px;
}

/* womentmenu */

.menuWoment {
  display: none;
  animation: wiggle 0.4s linear;
}

.nu:hover .menuWoment {
  display: flex;
}

.nu::before {
  content: "";
  width: 80px;
  position: absolute;
  top: 40px;
  left: 200px;
  height: 50px;
}

/* search */

.search {
  position: absolute;
  left: 0;
  top: 80px;
}

/* product */

.product:hover {
  animation: boxshadows 0.3s linear;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
}

.productBtn {
  display: none;
}

.productBtn:hover {
  background-color: #161a21;
  color: white;
}

.product:hover .productBtn {
  display: block;
  animation: hide 0.3s linear;
}

/* cart */

.cart {
  background-color: rgba(0, 0, 0, 0.218);
}

/* slider */

.slider {
  animation: wigglee 0.05s linear;
}

/* WristSize */

.WristSize {
  background-color: rgba(0, 0, 0, 0.218);
}

/* order */

.close {
  animation: hideQty 0.3s linear;
}

.oderQty {
  animation: hideQty 0.3s linear;
}
